html {
  font-size: 62.5%;
}

body {
  max-width: 1250px;
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: @rain;
  display: grid;
  .border;
  grid-row-gap: 1rem;
  grid-template-areas:
    ". header header header ."
    "main main main main main"
    ". footer footer footer .";
  header {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  footer {
    font-size: 3rem;
    font-style: oblique;
  }
}
header {
  grid-area: header;
  background-color: @mist;
  color: white;
  .border;
}
.mainContent {
  grid-area: main;
  display: grid;

  grid-row-gap: 1rem;
  .border;
  grid-template-areas:
    ". mainImg mainImg mainImg ."
    "bio bio bio bio bio"
    "personal personal personal personal personal"
    "indepth indepth indepth indepth indepth";
  .mainImageContainer {
    grid-area: mainImg;
    .border;
  }
  .biography {
    grid-area: bio;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "bioText bioText bioText bioImg bioImg";
    .biographyText {
      // height: 50rem;
      grid-area: bioText;
      background-color: @shadow;
      color: @autumn_foliage;
      .border;
    }
    .biogImg {
      grid-area: bioImg;
      .border;
    }
  }
  .personal {
    grid-area: personal;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: "persImg persImg persText persText persText";
    .persImg {
      grid-area: persImg;
      .border;
    }
    .personalText {
      grid-area: persText;
      background-color: @moss;
      color: @blue_black;
      .border;
    }
  }
  .indepth {
    grid-area: indepth;
    background-color: @thunder_cloud;
    color: @waterfall;
    .border;
  }
}
footer {
  grid-area: footer;
  background-color: @greenery;
  color: @cadet_blue;
  .border;
}
